  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.tabs .indicator {
    background-color: white;
}     
.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #01579b;
    }

.waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #795548;
    }
.waves-effect.waves-purple .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #e91e63;
    }

.waves-effect.waves-teal .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #8bc34a;
    }
