::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #ebebeb;
    overflow: visible;
}
::-webkit-scrollbar-corner {
    display: none;
    background: #f5f5f5;
}

::-webkit-scrollbar-button {
    display: none;
    height:0;
    width: 0;
}

::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment             {
    display: block;
}

::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

::-webkit-scrollbar-track {
    -moz-background-clip: border;
    -webkit-background-clip: border;
    background-clip: padding-box;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-track:horizontal {
    border-left-width: 0;
    border-right-width: 0;
}

::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
    padding-top: 100px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.4);
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
.tabs .indicator {
    background-color: white;
    display: none;
}
.tabs .tab a.active { border-bottom: 2px solid white; }
.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #01579b;
    }

.waves-effect.waves-brown .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #795548;
    }
.waves-effect.waves-light-green .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #8bc34a;
    }
.waves-effect.waves-pink .waves-ripple {
         /* The alpha value allows the text and background color
         of the button to still show through. */
          background-color: #e91e63;
        }

.waves-effect.waves-teal .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #8bc34a;
    }
li.listitem {
  opacity: 0;
}
h1 {
  font-weight: 600;
}
.modal {
  width: 85% !important ;
  max-height: 92% !important;
  overflow-y: hidden !important ;
  top: 5% !important;
}
.modal.modal-fixed-footer {
    height: 92% !important;
    top: 5% !important;
  }
.parallax-container {
          height: 350px;
}
.profile {
  width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute; -webkit-backface-visibility: hidden
}
/*.tabs{
  display: flex !important;
}*/
.navbar {
  padding: 0 !important;
  margin-bottom: 0 !important;
}
a.nopadding {
  padding-top: 5px !important;
}



.projectsmodal {
  animation: animation 250ms linear both;
}



/* Generated with Bounce.js. Edit at https://goo.gl/et2XBk */
@keyframes animation {
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, -800, 0, 1); }
  2.8% { transform: matrix3d(0.597, 0, 0, 0, 0, 0.597, 0, 0, 0, 0, 1, 0, 0, -524.573, 0, 1); }
  4.2% { transform: matrix3d(0.838, 0, 0, 0, 0, 0.838, 0, 0, 0, 0, 1, 0, 0, -397.189, 0, 1); }
  5.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -287.543, 0, 1); }
  5.61% { transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, -283.766, 0, 1); }
  7.26% { transform: matrix3d(0.89, 0, 0, 0, 0, 0.89, 0, 0, 0, 0, 1, 0, 0, -171.3, 0, 1); }
  8.41% { transform: matrix3d(0.863, 0, 0, 0, 0, 0.863, 0, 0, 0, 0, 1, 0, 0, -107.115, 0, 1); }
  8.96% { transform: matrix3d(0.861, 0, 0, 0, 0, 0.861, 0, 0, 0, 0, 1, 0, 0, -80.482, 0, 1); }
  11.11% { transform: matrix3d(0.889, 0, 0, 0, 0, 0.889, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.21% { transform: matrix3d(0.962, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, -60.164, 0, 1); }
  16.67% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -74.295, 0, 1); }
  17.22% { transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, -74.668, 0, 1); }
  20.07% { transform: matrix3d(0.985, 0, 0, 0, 0, 0.985, 0, 0, 0, 0, 1, 0, 0, -66.225, 0, 1); }
  27.83% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -18.944, 0, 1); }
  31.18% { transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, -5.373, 0, 1); }
  33.33% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.94% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.964, 0, 1); }
  39.44% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.985, 0, 1); }
  42.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.404, 0, 1); }
  50% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.282, 0, 1); }
  55.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.013, 0, 1); }
  61.66% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.333, 0, 1); }
  77.88% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.001, 0, 1); }
  83.98% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.022, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
